body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    gap: 2%;
}

.rectangle {
    border: 2px solid rgb(248, 248, 248);
    width: 20%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgba(31, 27, 27, 0.514);
    animation: slideInRight 1s forwards;
}

.rectangle1 {
    flex: 1;
    border: 2px solid rgb(248, 248, 248);
    padding: 2%;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgba(31, 27, 27, 0.514);
    overflow-y: auto;
    animation: slideInRight 1s forwards;
}

.srectangle1 {
    border: 2px solid rgb(248, 248, 248);
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgba(31, 27, 27, 0.514);
    width: 100%;
    padding: 2%;
    animation: slideInRight 1s forwards;
}

.icon {
    vertical-align: middle;
}

.phone-heading {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
    position: relative;
    bottom: 2px;
}

.prof {
    border-radius: 50%;
    margin-left: 10%;
    margin-right: 75%;
    object-fit: cover;
}

.button1 {
    border-radius: 13px;
    background-color: transparent;
    color: white;
}

.rectangle h1, .rectangle h3 {
    margin: 5px 0;
}

.rectangle p {
    margin: 5px 0;
    margin-left: 10%;
}

.name1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .rectangle {
        width: 100%;
        position: static;
        margin-bottom: 20px;
        animation: slideInRight 1s forwards;
    }

    .rectangle1 {
        width: 100%;
        margin-left: 0;
        animation: slideInRight 1s forwards;
    }

    .srectangle1 {
        width: 100%;
        animation: slideInRight 1s forwards;
    }
}
